html {
    font-family: Roboto;
  }
  
  body {
    display: flex;
    margin: 0;
    flex-direction: column;

  }
  
  .section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 12%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-top: 10px;
  }
  
  a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0 5px;
  }
  
  .headerlogo {
    display: inline;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    display: flex; 
    padding: 0;
    margin: 0;
  }
  
  h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 18px;
    color: #E5E7EB;
  }

  button {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
  }

  .landing-text-image {
    margin: 100px 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .heading-left {
    max-width: 50%;
  }

  div {
    display: inline;
  }

 .hero-text {
  max-width: 50%;
  display: inline;
 }

 .landing-image {
  display: inline-block;
  width: 50%; 
  height: auto;
 }

 .text-container {
  max-width: 40%;
  padding: 5px;
 }

 .section2 {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  text-align: center;
 }

 .landing-illustration {
  border: 4px solid #3882f6;
  border-radius: 20px;
 }

 .illustration {
  flex-direction: column;
 }

 
