html {
    font-family: Roboto;
  }
  
  body {
    display: flex;
    margin: 0;
    flex-direction: column;

  }
  
  .section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 12%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-top: 10px;
  }
  
  a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0 5px;
  }
  
  .headerlogo {
    display: inline;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    display: flex; 
    padding: 0;
    margin: 0;
  }
  
  h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 18px;
    color: #E5E7EB;
  }

  button {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
  }

  .landing-text-image {
    margin: 100px 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .heading-left {
    max-width: 50%;
  }

  div {
    display: inline;
  }

 .hero-text {
  max-width: 50%;
  display: inline;
 }

 .landing-image {
  display: inline-block;
  width: 50%; 
  height: auto;
 }

 .text-container {
  max-width: 40%;
  padding: 5px;
 }

 .section2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 25px 12% 0 12%;
  padding-bottom: 50px;
 }

 .landing-illustration {
  border: 3px solid #3882f6;
  border-radius: 20px;
  height: 100px;
 }

.image-container {
  display: flex;
  flex: 1;
  gap: 25px;
  justify-content: center;
  padding-top: 20px;
}

.illustration {
  display: inline-block;
  max-width: 100px;
  padding: 0 25px;
  justify-content: center;
}

.illustration-text {
  display: inline-block;
  max-width: inherit;
  font-weight: thin; 
}

.section3 {
  background-color: #E5E7EB;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

.quote {
  margin: 0 12%;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 300;
}

.quote-name {
  font-weight: bold;
  display: block;
  text-align: right;
  margin-right: 40px;
}

.section4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}

.blue-container {
  margin: 100px 12% 100px 12%;
  background-color: #3882f6;
  padding: 30px 100px 30px 100px;
  border-radius: 10px;
  flex-direction: row;
  color: #F9FAF8;
  justify-content: space-between;
  display: flex;
  gap: 30px;
}

.sign-text {
  text-align: left;
  display: inline-block;
}

.top-text {
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.button2 {
  display: inline-block;
  padding-top: 7px;
}

.button2-style {
  background-color: #3882f6;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  border-radius: 5px;
  padding: 5px 20px;
}
